/**
 *  @module         DirList, first released by Ralf Hertsch (†)
 *  @version        see info.php of this module
 *  @authors        cms-lab
 *  @copyright      2022 - 2024 cms-lab
 *  @link           https://cms-lab.com 
 *  @license        MIT License (MIT) http://www.opensource.org/licenses/MIT
 *  @license terms  see info.php of this module
 *
 */
 
 .spacer1{
    width: 100%;
    height: 10px;
}

.spacer2{
    width: 100%;
    height: 20px;
}

.spacer3{
    width: 100%;
    height: 30px;
}

.spacer4{
    width: 100%;
    height: 40px;
}


